
h1{font-family: fantasy; font-size: xx-large; font-style: initial; color: chartreuse;}
p{font-size: x-large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-style: oblique; color: tomato;}
a{color: crimson; font-size: x-large; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
h2{color: rgb(255, 106, 0); font-size: xx-large; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
pre{font-size: x-large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-style: oblique; color: tomato;}